* {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: auto;
	overscroll-behavior-y: none;
	max-height: 100vh;
}

.main_block_link {
	color: black;
	cursor: pointer;
	font-size: 20px;
}

.main_block_link.dark {
	color: white;
}

.wrapper {
	min-height: 100dvh;
	height: 100%;
}

.wrapper.dark {
	background: rgb(47, 46, 70);
}

.main_block {
	gap: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 40vw;
	margin: 0 auto;
}

.main_block.left {
	transform: rotate(-10deg)
}

.main_block.right {
	transform: rotate(10deg)
}

.main_block_top_row {
	padding: 7px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.main_block_top_row_button {
	font-size: 30px;
	cursor: pointer;
}

.main_block_top_row_button.dark {
	color: white;
}

.main_block_restart_button_img {
	border: 0;
	max-width: 30px;
	max-height: 30px;
	cursor: pointer;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.gap_10 {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.break {
	display: flex;
}

.break.dark {
	display: flex;
	color: white;
	background: 0;
}

.break_time_block {
	display: flex;
	align-items: center;
	padding: 5px;
	font-size: 14px;
}

.break_value_block {
	display: flex;
	align-items: center;
	padding: 5px;
}

.lesson {
	display: flex;
	flex-direction: column;
	text-align: start;
	background: rgb(210, 210, 210);
	padding: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.lesson.dark {
	background: rgb(36, 39, 54);
	color: white;
}

.lesson_value_block {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.lesson_time_block {
	border-top: 1px solid white;
	display: flex;
	padding: 5px;
	width: 97%;
	font-size: 14px;
}

.lesson_row {
	display: flex;
}

.title {
	text-align: center;
}

.group_block {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.group_row {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.group_colum {
	background: rgb(228, 228, 228);
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.group_colum {
	background: 0;
}

.group_item {
	cursor: pointer;
	padding: 5px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 3px;
}

.group_item.dark {
	color: white;
	background: rgb(24, 30, 53);
}

.group_item.dark.gray {
	color: white;
	background: rgb(106, 106, 106);
}

.group_item.dark.group_now_theme {
	background: rgb(160, 160, 160);
	color: rgb(0, 0, 0);
}

.gray {
	background: white;
}

.white {
	background: rgb(195, 195, 195);
}

.main_block_row {
	display: flex;
	justify-content: space-between;
}

.rewrite_link {
	display: block;
	font-size: 40px;
	cursor: pointer;
}

.rewrite_link.dark {
	color: white;
}

@media screen and (max-width: 1200px) {
	.rewrite_link {
		display: none;
	}

	.center {
		max-width: 100vw;
	}

	.main_block {
		padding: 5px;
		min-height: 100dvh;
		max-width: 100vw;
	}

	.main_block_row {
		display: none;
	}
}
