.main_block{
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.main_block_top_row{
  display: flex;
  justify-content: space-between;
}
.main_block_top_row_button{
  font-size: 30px;
  cursor: pointer;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20vw;
  margin: 0 auto;
}

.gap_10{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.break{
  display: flex;
}

.break_time_block{
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  border-right: 0;
}
.break_value_block{
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
}

.lesson{
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
}

.lesson_time_block{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.lesson_value_block{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.title{
  text-align: center;
}
.group_row{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.group_item{
  cursor: pointer;
}