.main_block{
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.main_block_top_row{
  display: flex;
  justify-content: space-between;
}
.main_block_top_row_button{
  font-size: 30px;
  cursor: pointer;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20vw;
  margin: 0 auto;
}

.gap_10{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row{
  display: flex;
}
.jcsb{
  justify-content: space-between;
}

.time_block{
  padding: 5px;
  border: 1px solid black;
}
.value_block{
  padding: 5px;
  border: 1px solid black;
}
.title{
  text-align: center;
}
.group_row{
  display: flex;
  justify-content: center;
  gap: 10px;
}